form {
  margin: 0 auto;
  width: 350px;
}

select {
  height: 25px;
  width: 100px;  
}

.select {  
  width: 270px;
  margin: 3px auto; 
}

.button.btn {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
