form {
  margin: 0 auto;
  width: 350px;
}

select {
  height: 30px;
  width: 200px;
  margin: 10px 0px;
}

.select {
  display: flex;
  width: 270px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
