.person {
  font-size: 16px;
}

.people {   
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  text-align: center;
}

.card {
  margin: 20px 10px;
}

.link {
  margin: 10px;
  width: 80px;
  height: 40px;
  font-size: 20px;  
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: #e59400;
}
